.banner_sec {
    padding-left: 3%;
    padding-right: 3%;

    padding-bottom: 30px;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}


.leftCont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* max-width: 50%; */
}

.leftCont h1 {
    max-width: 
680px;

    font-size: 6.4rem;
    font-weight: bolder;
    letter-spacing: -0.02em;
    text-align: left;
    color: #173E43;


}

.leftCont p {
    max-width: 620px;

    /* font-family: Plus Jakarta Sans; */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2px;
    text-align: left;
    color: #173E43;


}

.leftCont button {
    width: 210px;
    height: 60px;
    border-radius: 6px;
    background: #FCB400;
    border: 1px solid #FCB400;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: #3E3509;
    cursor: pointer;




}

.leftCont button:hover {
    background: transparent;
    border: 1px solid #FCB400;




}

.ritCont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 50%; */
}
.banner_img{

    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
}