.banner_sec {
    padding-left: 6%;
    padding-right: 6%;

    /* padding-bottom: 30px; */
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}


.leftCont {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    /* max-width: 50%; */
}

.leftCont h1 {
    max-width: 
680px;

    font-size: 6.4rem;
    font-weight: bolder;
    letter-spacing: -0.02em;
    text-align: left;
    color: #173E43;


}

.leftCont p {
    max-width: 620px;

    /* font-family: Plus Jakarta Sans; */
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #173E43;


}

.leftCont button {
    width: 210px;
    height: 60px;
    border-radius: 6px;
    background: #FCB400;
    border: 1px solid #FCB400;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0em;
    color: #3E3509;
    cursor: pointer;
    font-family:  monospace;




}

.leftCont button:hover {
    background: transparent;
    border: 1px solid #FCB400;




}

.ritCont{
    display: flex;
    justify-content: flex-end;
}
.banner_img{

    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
}



@media (max-width: 900px) {

    .leftCont {
        
        gap: 10px;
    }

}


@media (max-width: 768px) {

   .ritCont{
    display: none;
   }

}