.footer_bx {
    width: 100%;
    height: 418px;
    background-color: #0F2C30;


}

.mn_cont__ftbox {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 2%;






    display: flex;

    justify-content: space-between;
    /* align-items: center; */
}

.lft_cont__ftbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.lft_cont__ftbox p {
    max-width: 585px;
    /* font-family: "Plus Jakarta Sans"; */
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #F2FFFF;



}

.lft_cont__ftbox div {
    display: flex;
    gap: 20px;
}

.rit_cont__ftbox ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.rit_cont__ftbox ul li {
    display: flex;
    gap: 10px;
}

.rit_cont__ftbox ul li h1 {
    /* font-family: "Plus Jakarta Sans"; */
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    /* text-align: left; */
    color: #FFFFFF;


}

.rit_cont__ftbox ul li p {


    font-size: 18px;
    font-weight: 400;
    /* line-height: 27px; */
    letter-spacing: 0em;
    color: #F2FFFF;


}

.line_hor {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
border: 1px;
background: #617E82;
border: 1px solid #617E82

}
.copyrightBx p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
color: #FFFFFF;
margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;

}