.newsLetSec{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;

/* height: 380px; */
background: #173E43;

}
.main_sec_newsLet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_sec_newsLet h1{
font-size: 4.8rem;
font-weight: 600;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF;



}

.main_sec_newsLet p{
    margin-top: 40px;
    
    max-width: 598px;
    opacity: 0.75px;
    
font-size: 1.8rem;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #F2FFFF;


    
    }

    .main_sec_newsLet input{
        color: white;
        margin-top: 50px;
        width:290px;
height: 60px;
/* padding: 10px 16px 10px 16px; */
border-radius: 8px;
border: 1px;
gap: 10px;
background:transparent;
text-indent: 20px;

border: 1px solid #617E82

    }

    .main_sec_newsLet input::placeholder{
font-size: 1.4rem;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color: #F2FFFF;

    }

    .main_sec_newsLet button{
        margin-left: 20px;
        width:  164px;
height:  60px;
padding: 10px;
border-radius: 6px;
/* gap: 10px; */
background: #FCB400;
border: 1px solid #FCB400;
border-radius: 8px;
font-size: 1.8rem;
font-weight: 600;
letter-spacing: 0em;
color: #FFFFFF;
cursor: pointer;

    }


