.projectSec{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
  
}
.projectsCard{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.projectSec h1{
font-size: 64px;
font-weight: 600;
letter-spacing: -0.02em;
text-align: left;
color: #173E43;
}
.singlePro_card{
    margin-top: 50px;
    width:  45%;
border-radius: 24px;
box-shadow: 2px 2px 10px rgb(244, 244, 244);


}

.imgsBoximg{
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    width: 90%;
}
.singlePro_card h1{
    padding-left: 2%;
    padding-right: 2%;

    padding-top: 15px;
    max-width: 508px;
font-size: 32px;
font-weight: 600;
letter-spacing: -0.02em;
text-align: left;
color: #173E43;



}

.singlePro_card p{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    max-width: 508px;

font-size: 18px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;

color: #173E43;



}