.serviceSec{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.serviceSec h1{
font-size: 6.4rem;
font-weight: 600;
letter-spacing: -0.02em;
text-align: left;
color: #173E43;


}


.serviceCard{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.serviceCard div{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    margin-top: 40px;
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
border-radius: 24px;
background: #f4f3f3;


}

.serviceCard h1{
padding-top: 10px;
font-size: 3.2rem;
font-weight: 600;
line-height: 38px;
letter-spacing: -0.02em;
text-align: left;
color: #173E43;


}

.serviceCard p{
    padding-top: 10px;

    /* width: 492px; */
    
font-size: 1.8rem;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

color: #173E43;

    
    }

@media (max-width: 768px) {

    .serviceCard{
        flex-direction: column;
                flex-wrap: nowrap;
            }
            .serviceCard div{
                width: 100%;
            
            
            }

}
